h1 {
    font-size: 20px;
    color: aqua;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}
